<%- include('partials/head') %>

<body>
	<%- include('partials/navbar') %>
	<h1>The Home Page. <hr /><%= 'Hello, World' %></h1>
	<p
		>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nobis reiciendis
		repellat sequi illo similique perferendis expedita ea aliquam? Laboriosam facere
		placeat deleniti fugit atque molestiae voluptas. Eum, cupiditate quae.
	</p>

	<p
		>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nobis reiciendis
		repellat sequi illo similique perferendis expedita ea aliquam? Laboriosam facere
		placeat deleniti fugit atque molestiae voluptas. Eum, cupiditate quae.
	</p>
	<%- include('partials/footer') %>
</body>
