<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		<h1>The Home Page <%= 'Hello, World' %></h1>
		<p
			>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nobis reiciendis
			repellat sequi illo similique perferendis expedita ea aliquam? Laboriosam facere
			placeat deleniti fugit atque molestiae voluptas. Eum, cupiditate quae.
		</p>

		<p
			>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nobis reiciendis
			repellat sequi illo similique perferendis expedita ea aliquam? Laboriosam facere
			placeat deleniti fugit atque molestiae voluptas. Eum, cupiditate quae.
		</p>
	</body>
</html>
